<div ng-app="ecopulse">
  <div ng-controller="MainCtrl" data-ng-init='getData()'>
    <highchart id="chart1" config="highchartsNG" />

    <div class='panel panel-default'>
      <div class='panel-heading'>Data Sets</div>

      <div class='panel-body'>
        The following data sets were used to calculate Our Economic Pulse.
      </div>

      <table class='table table-datasets table-striped'>
        <tbody>
          <!-- Two rows for each data set:
            1. The icon, name and value of the set
            2. The full description and chart for the set, initially hidden but
              may be shown by clicking the first row. -->
          <tr ng-repeat-start='dataset in datasets' data-toggle='collapse' data-target='#{{dataset.id}}-description'>
            <td><span class="glyphicon glyphicon-{{dataset.icon}}" aria-hidden="true" /></td>
            <td>{{dataset.name}}</td>
            <td>{{dataset.data[dataset.data.length - 1].y.toFixed(2)}}</td>
          </tr>
          <tr ng-repeat-end class='collapse' class='dataset-description' id='{{dataset.id}}-description'>
            <td colspan='3'>
              <p>{{dataset.description}}</p>
                <div style='text-align: center'>
                <button class='btn btn-default' ng-click='chartSeries("{{dataset.id}}")'>
                  <span class='glyphicon glyphicon-eye-open' aria-hidden='true' />
                  Plot on chart
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
